.container-all {
  width: 1150px;

}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.body {
  display: flex;
}
.card1{
    width: 280px;
    height: 150px;
    background:#29263C;
    border-radius: 20px;
}

.panah{
  font-size: large;
  padding-left: 5px;
  color: #22BD8B;
}

.panah-bawah{
  font-size: large;
  padding-left: 5px;
  color: yellow;
}

/* card-bitcoin */
.bitcoin{
  width: 5px;
  color: aliceblue;
  font-size: 15px;
  padding-top: 40px;
  padding-left: 3px;
}

.text-dolar{
  padding-left: 15px;
  padding-top: 5px;
  font-size: 25px;
}
/* card-bitcoin */

/* exchange */
.sell{
  color: aliceblue;
  padding-top: 15px;
  padding-left: 10px;
}

.dolar-usd{
  border-bottom: solid 1px;
  width: 95%;
  font-style: underline;
  color: aliceblue;
  font-size: 23px;
  padding-left: 10px;
  padding-top: 12px;
}

.card-hijau{
  background-color: #22BD8B;
  width: 100px;
  height: 133px;
  border: none;
  border-radius: 20px;
}

.button-exchange{
  border-radius: 10px;
  border: none;
  background-color: #3D3A4D;
  width: 160%;
  height: 30px;
}

.text-exchange{
  color: aliceblue;
}

.bola{
  font-size: 30px;
  padding-left: 8px;
}

.text-balance{
  font-size: small;
  padding-left: 8px;
  padding-top: 0px;
  color: aliceblue;
}

.exchange-dolar{
  color: aliceblue;
  padding-top: 5px;
  padding-left: 8px;
  font-size: large;
}

.text-bawah{
  font-size: small;
  padding-top: 15px;
  padding-left: 8px;
  color: aliceblue;
}
/* exchange */


.card2{
    width: 30px;
    height: 20px;
    border-radius:5px;
    background-color: #3D3A4D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: lighter;
}
.card2:hover{
    background: white;
    color: black;
    cursor: pointer;
}

.MarketCapBody {
  display: flex;
  justify-content: center;
  background: #29263C;
  width: 100%;
  height: 140px;
  border-radius: 20px;
  position: relative;
}

.MarketCap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  color: white;
}

.MarketCapLogo {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.MarketCap .Bitcoin {
  margin-left: 1rem;
  width: 180px;
  height: 25px;
  background: inherit;
  display: flex;
}

.MarketCap .Bitcoin #percentage {
  display: flex;
  flex-direction: row;
  margin-left: 24%;
  color: #3CCF4E;
}

.MarketCap .Bitcoin #graph {
  display: flex;
  width: 40px;
  height: auto;
}

.MarketCap .Bitcoin #money {
  display: flex;
  margin-left: 20%;
  color: #fff;
}

.MarketCap .Etherum {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 180px;
  height: 25px;
  background: inherit;
  display: flex;
}

.MarketCap .Etherum #percentage {
  display: flex;
  margin-left: 15%;
  color: #FF7F3F;
}

.MarketCap .Etherum #graph {
  display: flex;
  width: 40px;
  height: auto;
}

.MarketCap .Etherum #money {
  display: flex;
  margin-left: 20%;
  color: #fff;
}

.MarketCap .Litecoin {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 180px;
  height: 25px;
  background: inherit;
  display: flex;
}

.MarketCap .Litecoin #percentage {
  display: flex;
  margin-left: 20%;
  color: #3CCF4E;
}

.MarketCap .Litecoin #graph {
  display: flex;
  width: 40px;
  height: auto;
}

.MarketCap .Litecoin #money {
  display: flex;
  margin-left: 20%;
  color: #fff;
}

.linegraph {
  width: 70px;
  height: 20px;
}